.mat-mdc-table .mdc-data-table__header-row {
    height: 35px;
}

.mat-mdc-table .mat-mdc-row, .mat-mdc-table .mat-mdc-footer-row{
    height: 25px;
    cursor: pointer;
}

.mdc-data-table__row:not(.mdc-data-table__row--selected):hover {
    background-color: yellow !important;
}

mat-form-field, mat-form-field.full-width {
    width: 100%;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
    padding: 0 2px 0 2px !important;
}

.mdc-data-table__header-cell:first-of-type,
.mat-sort-header:first-of-type,
.mat-mdc-cell:first-of-type, 
.mat-mdc-footer-cell:first-of-type 
{
    padding-left: 10px !important;
}

/* .text-right.mdc-data-table__cell, .text-right.mdc-data-table__header-cell{
    text-align: right;
}

.text-right .mat-sort-header-container{
    justify-content: right;
} */

.mat-mdc-button.mat-mdc-button-base, 
.mat-mdc-raised-button.mat-mdc-button-base, 
.mat-mdc-unelevated-button.mat-mdc-button-base, 
.mat-mdc-outlined-button.mat-mdc-button-base {
    height: 25px;
}

.clickable:hover {
    color: blue;
    font-weight: bold;
}