.invoice {
    font-size: 14px;
    font-family: -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica,
    sans-serif;
}

.invoice table {
    width: 100%;
    height: auto;
    background: #fff;
}

.invoice table td, .invoice table th {
    border: 1px solid black;
    padding: 5px;
}
.invoice label, .invoice h4{
    font-size: 1em;
}
.invoice textarea {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    border: 0;
    overflow: hidden;
    resize: none;
    height: 20px;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

.invoice span.textarea {
    font-size: .85em;
}

/* input[type='text'] {
    font-family: Arial;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    border: 0;
    overflow: hidden;
    resize: none;
    height: 20px;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
} */

.invoice input[type='text'].percent{
    font-size: 1em;
    text-align:right;
    border: 0;
    overflow: hidden;
    resize: none;
    height: 20px;
    padding: 0;
    margin: 0;
    width:20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

.invoice input[type='text']:hover{
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    background-color: #EEFF88;
}

.invoice input[type='text']:focus {
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    background-color: #EEFF88;
}

.invoice textarea:hover,.invoice textarea:focus {
    background-color: #EEFF88;
}

.invoice textarea {
    font-size: inherit;
}

.invoice .no-border {
    border: none !important;
}

.invoice .no-padding {
    padding: 0px !important;
}

.invoice .no-padding-left {
    padding-left: 0px !important;
}

.invoice .no-padding-right {
    padding-right: 0px !important;
}

.invoice .input-dropdown {
    width: 100%;
}

.invoice td {
    padding: 0;
    vertical-align: top;
}

.invoice .width-100per {
    width: 100%;
}

.invoice .border {
    border: 1px solid #ccc;
}

.invoice .header h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 1.2em;
    color: #0A73C3;
}

.invoice .header h3 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    color: #666666;
}

.invoice .np1 {
    color: #666;
    font-size: 1em;
    margin: -18px 18px 0;
}

.invoice .mp1 {
    float: right;
    margin: 0 22px 0 0;
}

.invoice .header_sub {
    width: 960px;
    margin: 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.invoice .header_sub h2 {
    padding: 20px;
    font-size: 1.2em;
    color: #0A73C3;
    margin: -15px 3px 0 0;
    height: 10px;
}

.invoice #f1 {
    padding-top: 10px;
}

.invoice #ip1 {
    width: 100%;
    text-align: justify;
    font-size: 1em;
    color: #333;
}

.invoice #ip1 h3 {
    font-size: 1em;
}

.invoice .im1 {
    float: right;
    margin: -40px 0 0 0;
    font-size: .8em;
}

.invoice .alfin {
    margin-left: 18px;
    width: 300px;
    color: #2b2b2b;
    width: 400px;
    font-size: 1em;
    background: url("/images/bg.widget.png") repeat scroll;
    border: 0.3px solid #b6b6b6;
}

.invoice .p th {
    font-size: .8em;
    width: 140px;
}

.invoice .prdt tr {
    background: #fff;
}

.invoice .espaco {
    height: 5px;
}

.invoice #borderrightCF {
    border-right: 1px solid #ccc;
}

.invoice .alfin {
    padding: 10px 20px 10px;
    font-size: 1em;
    border-bottom: 1px solid #f1f1f1;
}

.invoice .alrsp {
    margin: -18px 0px 0;
    font-size: 1em;
}

.invoice .alrsp span {
    color: #000;
    text-decoration: underline;
    margin: 0 5px;
}

.invoice .albr {
    padding: 10px 0 0 0;
}

.invoice .iwg {
    font-size: .7em;
    color: #0A73C3;
    width: 200px;
    text-align: justify;
}

.invoice .tp01 {
    border-collapse: collapse;
}

.invoice .tp01 th {
    color: white;
    border: 1px solid #e4e4e4;
}

.invoice .tp01 td, .invoice .myTable th {
    padding: 5px;
    border: 1px solid #e4e4e4;
}

.invoice .auto-style1 {
    height: 30px;
    width: 566px;
}

.invoice .auto-style3 {
    width: 609px;
}

.invoice .widget {
    width: 1000px;
}

.invoice .ibox {
    width: 1000px;
    margin-bottom: 0px;
}

.invoice td.balance {
    background: #eee;
}

.invoice td .widget {
    width: 100%;
}

.invoice td.total-line {
    text-align: right;
}

.invoice select {
    width: 100%;
}

.invoice pre {
    background-color: #fff;
    border: none;
    font-size: 1em;
    font-family: inherit;
    line-height: normal;
    padding: 0px;
    text-align: right;
}

.invoice .mat-form-field-wrapper{
    padding: 0;
  }

.invoice .mat-form-field-appearance-legacy .invoice .mat-form-field-wrapper{
    color: red;
}

.invoice .invoice-copy{
    background: #dee2e6;
    padding: 0 10px 0 10px;
    text-align-last: center;
}

.invoice .form-control{
    font-size: 1em;
}

.footer-message{
    font-size: 18px;
    font-weight: bold;
}