/* 
print.css
} */
@media print {
  * {
    margin: 0;
    padding: 0
  }

  @page {
    size: auto;
  }

  body {
    background-color: white;
  }

  .content-wrapper {
    background-color: white;
  }

  .header,
  .page-sidebar,
  .page-footer,
  .adminca-banner,
  .ibox-head,
  .delete,
  .no-print,
  .toastr,
  .overlay-container {
    display: none !important;
  }

  .row-fluid .span6 {
    width: 48.93617021276595%;
    float: left;
  }

  .content-wrapper {
    /* padding-top: 0px !important; */
    /* margin-left: 0px !important; */
    padding: 0px !important;
    margin: 0px !important;
  }

  .form-control,
  .textarea {
    border: none !important;
    color: black !important;
  }

  label {
    color: black !important;
    margin-bottom: 0rem;
  }

  .input-group-text {
    border: none;
    background: none;
  }

  table {
    color: black !important;
  }

  /* .table thead th{
  border: 1px solid black !important;
  color: black !important;
} */

  .table tr th,
  .table tr td {
    border: 1px solid black !important;
    padding: 2px !important;
  }

  table th,
  table td {
    border: 1px solid black !important;
    padding: 2px !important;
  }

  .form-check-inline {
    margin-right: 0px;
  }

  .form-check-label {
    padding-right: 0px !important;
  }

  .form-control {
    padding-right: 0px !important;
  }
}