table {
    width: 100%;
    height: auto;
    background: #fff;
}

table td, table th {
    border: 1px solid black;
    padding: 5px;
}

textarea {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    overflow: hidden;
    resize: none;
    height: 20px;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

/* input[type='text'] {
    font-family: Arial;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    overflow: hidden;
    resize: none;
    height: 20px;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
} */

input[type='text'].percent{
    font-size: 14px;
    text-align:right;
    border: 0;
    overflow: hidden;
    resize: none;
    height: 20px;
    padding: 0;
    margin: 0;
    width:20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

input[type='text']:hover{
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    background-color: #EEFF88;
}

input[type='text']:focus {
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
    background-color: #EEFF88;
}

textarea:hover, textarea:focus {
    background-color: #EEFF88;
}

textarea {
    font-size: inherit;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.input-dropdown {
    width: 100%;
}

td {
    padding: 0;
    vertical-align: top;
}

.width-100per {
    width: 100%;
}

.border {
    border: 1px solid #ccc;
}

.header h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 18px;
    color: #0A73C3;
}

.header h3 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #666666;
}

.np1 {
    color: #666;
    font-size: 14px;
    margin: -18px 18px 0;
}

.mp1 {
    float: right;
    margin: 0 22px 0 0;
}

.header_sub {
    width: 960px;
    margin: 5px 0 0;
    border-radius: 5px 5px 0 0;
}

    .header_sub h2 {
        padding: 20px;
        font-size: 18px;
        color: #0A73C3;
        margin: -15px 3px 0 0;
        height: 10px;
    }

#f1 {
    padding-top: 10px;
}

#ip1 {
    width: 100%;
    text-align: justify;
    font-size: 12px;
    color: #333;
}

    #ip1 h3 {
        font-size: 12px;
    }

.im1 {
    float: right;
    margin: -40px 0 0 0;
    font-size: 8px;
}

.alfin {
    margin-left: 18px;
    width: 300px;
    color: #2b2b2b;
    width: 400px;
    font-size: 13px;
    background: url("/images/bg.widget.png") repeat scroll;
    border: 0.3px solid #b6b6b6;
}

.p th {
    font-size: 12px;
    width: 140px;
}

.prdt tr {
    background: #fff;
}

.espaco {
    height: 5px;
}

#borderrightCF {
    border-right: 1px solid #ccc;
}

.alfin {
    padding: 10px 20px 10px;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1;
}

.alrsp {
    margin: -18px 0px 0;
    font-size: 13px;
}

.alrsp span {
    color: #000;
    text-decoration: underline;
    margin: 0 5px;
}

.albr {
    padding: 10px 0 0 0;
}

.iwg {
    font-size: 9px;
    color: #0A73C3;
    width: 200px;
    text-align: justify;
}

.tp01 {
    border-collapse: collapse;
}

.tp01 th {
    color: white;
    border: 1px solid #e4e4e4;
}

.tp01 td, .myTable th {
    padding: 5px;
    border: 1px solid #e4e4e4;
}

.auto-style1 {
    height: 30px;
    width: 566px;
}

.auto-style3 {
    width: 609px;
}

.widget {
    width: 1000px;
}

.ibox {
    width: 1000px;
}

td.balance {
    background: #eee;
}

td .widget {
    width: 100%;
}

td.total-line {
    text-align: right;
}

select {
    width: 100%;
}

pre {
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-family: inherit;
    line-height: normal;
    padding: 0px;
    text-align: right;
}

.mat-form-field-wrapper{
    padding: 0;
  }

.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    color: red;
}